---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
    <h2 >{{ page.title }}</h2>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        | <span class="post-categories">
          {% if post %}
          {% assign categories = post.categories %}
          {% else %}
          {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories.html#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </span></p>

    {{ content }}



  </div>

</article>
